.item.pad0
  img.fondo-aux(src="img/banner/banner2.png")
  //.fondo2
    //.in-fondo 
      //p My seven suite es un Software superior, Realice una mejor gestión de su Hotel o Resort
      //a.button Solicita Mas Información
.item.pad0
  img(src="img/banner/banner1.png")
  //.fondo
    
.item.pad0
  img(src="img/banner/banner3.png")
  //.fondo3
