.item.pad0
  .fondo
    .in-fondo 
      p My seven suite es un Software superior, Realice una mejor gestión de su Hotel o Resort
      a.button Solicita Mas Información
.item.pad0
  .fondo2
    
.item.pad0
  .fondo3
