.pre-contact.columns.plr-3em.relative
  include box-contact.pug.jade
  .column
    h2.h2-contact Contáctenos ahora
    p.p-contact Contáctenos y obtenga una demostración personal para sus necesidades de gestión.
  .column
    
.columns.plr-3em
  .column
    .post-contact
      img.img-post-contact.img2-logo(src="img/logo.png")
      .post-contact-title
        p #[strong Dirección:] Residencial Parques del Norte, Casa 1-C.  San Juan de Tibás, San José - Costa Rica.
        p #[strong Telefono:] (506) 4000-3420.
        p #[strong Email:] info@mysevensuite.com
  .column
