.pre-contact.columns.plr-3em
  .column
    h2 No dudes en Contactarnos
    p #{p1}
  .column
    include box-contact.pug.jade
.columns.plr-3em
  .column
    .post-contact
      img.img-post-contact(src="img/logo-seven.png")
      .post-contact-title
        p #[strong Dirección:] 50 norte de la Iglesia Católica de Tibás, contiguo al Banco Popular.
        p #[strong Telefono:] (506) 2240-6585.
        p #[strong Email:] info@mysevensuite.com
  .column
